*{
    margin: 10px;
    padding: 10px;
}
#taskLkist{
    /* transition: 0.9s; */
    width: fit-content;
    height: fit-content;
    background: rgb(182, 179, 180);
    text-align: center;
    border-radius: 6px;
    color: rgb(24, 24, 22);
    font-weight: bold;
}
li {
    padding: 6px;
    margin: 5px 0;
    background-color: #f0f0f0;
    border-radius: 4px;
    transition: 0.3s;
  }
  
  li:hover {
    background-color: #d0eaff;
  }